# Z-Tilt leveling definition
# If this files is included, then it also activate the QGL
# automatically in the START_PRINT macro
[gcode_macro _USER_VARIABLES]
variable_ztilt_enabled: True
gcode:

# Also include directly the dockable probe overide of qgl from here
[include ../../../macros/base/probing/overrides/z_tilt.cfg]
[include ../../../macros/base/homing/tilting.cfg]


[z_tilt]
z_positions:
    118, 280
    257, 5
    -25, 5
points:
    116, 196
    207, 3
    33, 3
speed: 200
horizontal_move_z: 10
retries: 7
retry_tolerance: 0.0095
