#For E3NG using stock Ender 3/Pro/V2 Bed

[stepper_x]
#position_min: 0
position_endstop: 0
position_max: 232

[stepper_y]
position_min: 0
position_endstop: 247
position_max: 247

[stepper_z]
position_max: 245
position_min: -17
